<%- include('partials/top') %>

<h1 class="text-center py-5">Add phone</h1>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

        <input class="form-control mb-3" type="text" placeholder="Brand" name="brand" >
        <input class="form-control mb-3" type="text" placeholder="Model" name="model" >
        <input class="form-control mb-3" type="number" placeholder="Price" name="price" >
        <input class="form-control mb-3" type="number" placeholder="Count" name="count" >
        <button id="add-phone" class="btn btn-primary form-control">Add</button>

    </div>
  </div>
</div>

<%- include('partials/bottom') %>