<%- include('partials/top') %>

<h1 class="text-center py-5">Phone store</h1>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table">
        <thead>
          <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nesto</td>
            <td>Nesto</td>
            <td>Nesto</td>
            <td>Nesto</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('partials/bottom') %>
